@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IAsyncDisposable
<h4>@userPing</h4>
<div class="form-group">
    <label>
        User:
        <input @bind="userInput" />
    </label>
</div>
<div class="form-group">
    <label>
        Message:
        <input @bind="messageInput" size="50" />
    </label>
</div>
<button @onclick="Send" disabled="@(!IsConnected)">Send</button>
<button @onclick="SendToCaller" disabled="@(!IsConnected)">Send To Me</button>
<button @onclick="SendToOthers" disabled="@(!IsConnected)">Send To Other Users</button>
<button @onclick="SendPing" disabled="@(!IsConnected)">Send Ping</button>
<div class="form-group">
    <button @onclick="SendPingToMyself" disabled="@(!IsConnected)">Send ping to me</button>
</div>

<hr>

<ul id="messagesList">
    @foreach (var message in messages)
    {
        <li>@message</li>
    }
</ul>

@code {
    private HubConnection hubConnection;
    private List<string> messages = new List<string>();
    private string userInput;
    private string messageInput;
    private string userPing;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
            .Build();

        hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            var encodedMsg = $"{user}: {message}";
            messages.Add(encodedMsg);
            StateHasChanged();
        });

        hubConnection.On<string>("PingUsers", (user) =>
        {
            var encodedMsg = $"{user} has pinged the chat";
            userPing = encodedMsg;
            messages.Add(encodedMsg);
            StateHasChanged();
        });

        hubConnection.On<string, int>("PingMyself", (user, pingNumber) =>
        {
            var encodedMsg = $"Hi {user}, your ping is: {pingNumber}";
            userPing = encodedMsg;
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    async Task Send() =>
        await hubConnection.SendAsync("SendMessage", userInput, messageInput);
    async Task SendToCaller() =>
            await hubConnection.SendAsync("SendToMe", userInput, messageInput);
    async Task SendToOthers() =>
            await hubConnection.SendAsync("SendToOthers", userInput, messageInput);
    async Task SendPing() =>
                await hubConnection.SendAsync("SendPingToOthers", userInput);
    async Task SendPingToMyself() =>
                await hubConnection.SendAsync("SendPingToCaller", userInput);
        
    public bool IsConnected =>
        hubConnection.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}